@import 'admin/color';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nunito", sans-serif;
}

body{
    background-color: $bg-color;
}
a{
    text-decoration: none;
}
a:active{
    background-color: $primary-color !important;
}
a:visited{
    background-color: $primary-color !important;
}


.container{
    width: 85%;
    margin: 0 auto;
}


@import 'admin/nav';
@import 'admin/dashboard';
@import 'admin/message';
@import 'admin/books';
@import 'admin/gallery';
@import 'admin/announce';
@import 'admin/testimony';