{% extends 'user/base.html' %} 
{% block contents %}
  <section id="header">
    <div class="event-header">
      <h1>Alumni</h1>
      <p class="breadcrumb"><a href="index.html">Home</a> / Alumni</p>
    </div>
  </section>

  <section class="info">
    <div class="info-text">
      <h1>Alumni Connect</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet.
      </p>
    </div>
  </section>

  <section class="alumni-form">
    <form action="" method="POST" class="form">
      <div class="input-box name">
        <div class="input-group">
          <label for="Fname">First Name</label>
          <input type="text" name="firstName" id="alumni-fname" required />
        </div>
        <div class="input-group">
          <label for="lname">Last Name</label>
          <input type="text" name="lastName" id="alumni-lname" inputmode="latin-name" required />
        </div>
      </div>
      <div class="input-box">
        <label for="email">Email</label>
        <input type="email" name="alumni-email" id="email" inputmode="email" required />
      </div>
      <div class="input-box">
        <label for="phonenumber" >Phone Number</label>
        <input type="tel" name="alumni-number" id="phonenumber" inputmode="tel"  required />
      </div>
      <div class="input-box">
        <label for="unit">Unit</label>
        <input type="text" name="alumni-unit" id="phonenumber"  />
        <small>(Optional)</small>
      </div>
      <div class="input-box">
        <label for="unit">Served as</label>
        <select name="unit" id="unit" required>
          <option value="">Select an option</option>
          <option value="Executive">Executive</option>
          <option value="Worker">Worker</option>
          <option value="Member">Member</option>
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
  </section>

  <!-- QUOTE SECTION HERE-->
  <div class="quote">
    <h1><i class="fa fa-quote-left"></i></h1>
    <h2>You are the only Bible some unbelievers will ever read.</h2>
    <cite>john macarthur</cite>
  </div>
{% endblock contents%}