{% extends 'user/base.html' %} 
{% block contents %}


    <section id="header">
      <div class="event-header">
        <h1>Books</h1>
        <p class="breadcrumb"><a href="{{url_for('index')}}">Home</a> / Books</p>
      </div>
    </section>

    <!-- the book section -->
    <div class="book-section">
      <div class="search-box">
        <label for="booksearch">Search</label>
        <input
          type="search"
          name="booksearch"
          id="booksearch"
          placeholder="E.g 'Good morning Holy spirit'"
        />
        <button type="submit">Search</button>
      </div>

      <div class="books">
      {% for book in books.items %}
        <div class="book-card">
          <div class="book-card-img">
            <img
              src="{{url_for('static', filename='img/books.jpg')}}"
              alt="image for the book card"
            />
          </div>
          <div class="book-card-body">
            <h4 class="tag">Book</h4>
            <h1 class="title">{{book.author}}</h1>
            <p class="author">
              by <span class="author-name">{{book.title}}</span>
            </p>

            <a class="download" download href="{{url_for('static', filename='books/'+book.name)}}">
              <i class="fa fa-download"></i>Download
            </a>
          </div>
        </div>
      {% endfor %}
        </div>
      </div>

    <div class="pagination">
{% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      <ul>
      {%if page_num%}
      {%if books.page == page_num%}
          <li><a href="{{url_for('user_books', page=page_num)}}" class="pagination-num active">{{page_num}}</a></li>
      {% else %}
          <li><a href="{{url_for('user_books', page=page_num)}}" class="pagination-num">{{page_num}}</a></li>
      {% endif %}
      {% else %}
      <li><a href="#" class="pagination-num">....</a></li>
      {% endif %}
      </ul>
{% endfor %}
    </div>
    </div>

    <!-- QUOTE SECTION HERE-->
    <div class="quote">
      <h1><i class="fa fa-quote-left"></i></h1>
      <h2>You are the only Bible some unbelievers will ever read.</h2>
      <cite>john macarthur</cite>
    </div>
{% endblock contents%}