{% extends 'user/base.html' %} 
{% block contents %}

  <section id="header">
    <div class="event-header">
      <h1>Events</h1>
      <p class="breadcrumb"><a href="{{url_for('index')}}">Home</a> / Events</p>
    </div>
  </section>

  <div class="events">
    <h2>Weekly Events</h2>
    <small>Enjoy Gods Presence</small>

    <div class="event-card">
      <img src="../../static/img/pray.jpg" alt="upcoming event image" class="image" />
      <h3>Prayer Meeting</h3>
      <ul>
        <li class="day"><i class="fa fa-calendar"></i> Monday</li>
        <li class="time"><i class="fa fa-clock-o"></i>6:00Pm - 7:30Pm</li>
        <li class="venue">
          <i class="fa fa-map-marker"></i> Rcf Auditorium, behind SMS lodge.
        </li>
        <li class="location">
          <i class="fa fa-location-arrow"></i>Gidan Kwano Campus, Minna Niger
          State.
        </li>
      </ul>
    </div>
    <div class="event-card second">
      <img src="../../static/img/bg4.jpg" alt="upcoming event image" class="image" />
      <h3>Bible Study</h3>
      <ul>
        <li class="day"><i class="fa fa-calendar"></i> Wednesday</li>
        <li class="time"><i class="fa fa-clock-o"></i>6:00Pm - 7:30Pm</li>
        <li class="venue">
          <i class="fa fa-map-marker"></i> Rcf Auditorium, behind SMS lodge.
        </li>
        <li class="location">
          <i class="fa fa-location-arrow"></i>Gidan Kwano Campus, Minna Niger
          State.
        </li>
      </ul>
    </div>
  </div>


  <!-- <section> -->
  <div class="events  monthly">
    <h2>Monthly Events</h2>
    <small>The following events happens once a month</small>

    <div class="event-card">
      <img src="../../static/img/bread.jpg" alt="upcoming event image" class="image" />
      <h3>Holy Communion</h3>
      <ul>
        <li class="day"><i class="fa fa-calendar"></i>Every First Monday of the month</li>
        <li class="time"><i class="fa fa-clock-o"></i>6:00Pm - 7:30Pm</li>
        <li class="venue">
          <i class="fa fa-map-marker"></i> Rcf Auditorium, behind SMS lodge.
        </li>
        <li class="location">
          <i class="fa fa-location-arrow"></i>Gidan Kwano Campus, Minna Niger
          State.
        </li>
      </ul>
    </div>
    <div class="event-card second">
      <img src="../../static/img/bg4.jpg" alt="upcoming event image" class="image" />
      <h3>Thanksgiving Sunday</h3>
      <ul>
        <li class="day"><i class="fa fa-calendar"></i>Every First sunday of the month </li>
        <li class="time"><i class="fa fa-clock-o"></i>7:30am - 11:00am</li>
        <li class="venue">
          <i class="fa fa-map-marker"></i> Rcf Auditorium, behind SMS lodge.
        </li>
        <li class="location">
          <i class="fa fa-location-arrow"></i>Gidan Kwano Campus, Minna Niger
          State.
        </li>
      </ul>
    </div>
  </div>
  <!-- </section> -->

    <!-- QUOTE SECTION HERE-->
    <div class="quote">
      <h1><i class="fa fa-quote-left"></i></h1>
      <h2>You are the only Bible some unbelievers will ever read.</h2>
      <cite>john macarthur</cite>
    </div>
{% endblock contents %}