{% extends 'user/base.html' %} {% block contents %}
  <section id="header">
    <div class="event-header">
        <h1>Gallery</h1>
        <p class="breadcrumb"><a href="index.html">Home</a> / Gallery</p>
    </div>
</section>

<div class="gallery-section">
    <div class="search-box">
        <label for="booksearch">Search</label>
        <input
          type="search"
          name="booksearch"
          id="booksearch"
          placeholder="E.g 'Good morning Holy spirit'"
        />
        <button type="submit">Search</button>
      </div>
    <div class="main-area">
    {% if galleries %}
        {% for gallery in galleries.items %}
        <div class="gallery-thumbnail">
            <a href="{{url_for('static', filename='church_img/'+gallery.image)}}"><img src="{{url_for('static', filename='church_img/'+gallery.image)}}" alt=""></a>
            <div class="meta-tag">
                <ul>
                    <li><i class="fa fa-tag"></i> {{gallery.tag}}</li>
                    <li><i class="fa fa-calendar"></i> {{gallery.date.strftime('%d, %B %Y')}}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
      {% else %}
        <h1>Nothing To Display Yet.</h1>
    {% endif %}
    </div>
{% for page_num in galleries.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
    <div class="pagination">
        <ul>
        {%if page_num%}
          {%if galleries.page == page_num%}
            <li><a href="{{url_for('view_gallery', page=page_num)}}" class="pagination-control">{{page_num}}</a></li>
          {% else %}
            <li><a href="{{url_for('view_gallery', page=page_num)}}" class="pagination-control">{{page_num}}</a></li>
          {% endif %}
        {% else %}
          <li><a href="#" class="pagination-num">.......</a></li>
        {% endif %}
        </ul>
    </div>
  </div>
<!-- QUOTE SECTION HERE-->
<div class="quote">
    <h1><i class="fa fa-quote-left"></i></h1>
    <h2>You are the only Bible some unbelievers will ever read.</h2>
    <cite>john macarthur</cite>
</div>


{% endblock contents %}