// FROM INFO SECTION IN THE ALUNMI PAGE
.info{
    margin: 5% 0 0 0;

    @media(max-width:414px){
        margin: 8% 0 0 0;
    }
    .info-text{
        width: 100%;
        text-align: center;

        h1{
            font-size: 2.2rem;
            color: $dark-text-color;
            margin: 0;
            line-height: 1.1;

            @media(max-width:414px){
                font-size: 1.5rem;
                color: $dark-text-color;
            }
        }
        p{
            font-size: .9rem;
            color: lighten($color: $dark-text-color, $amount: 20);

            @media(min-width:414px) and (max-width:990px){
                font-size: 14px;
                padding: 0 20px;
            }
            @media (max-width:414px){
                font-size: 14px;
                padding: 0 40px;
            }
        }
    }
}

.alumni-form{
    display: block;
    width: 100%;
    margin-top: 50px;

    .form{
        width: 50%;
        height: 100%;
        margin: 0 auto;
        position: relative;

        @media (min-width:414px) and (max-width:990px){
            width: 90%;
            margin: 0 auto;
        }
        @media(max-width:414px){
            width: 90%;
            margin: 0 auto;
        }

        .input-box{
            display: block;
            position: relative;
            margin-bottom: 18px;

            &.name{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                @media (max-width:414px){
                    display: block;
                    width: 100%;
                }

                .input-group{
                    width: 49%;
                    display: block;
                    position: relative;
                    // border: 1px solid red;

                    @media(max-width:414px){
                        width: 100%;
                        margin-bottom: 18px;
                    }
                    label{
                        display: block;
                        color: $dark-text-color;
                        padding-bottom: 1px;
                        padding: 0 1px;
                    }
                    input{
                        display: block;
                        width: 100%;
                        height: 45px;
                        padding: 0 5px;
                        border-radius: 4px;
                        border: 1px solid #ccc;

                        @media(max-width:414px){
                            width: 100%;
                        }
                        &:focus{
                            box-shadow: 0 0 2px 2px $primary-bg-color;
                            transition: all 300ms ease-out;
                        }
                    }
                }
            }

            label{
                display: block;
                color: $dark-text-color;
                padding-bottom: 1px;
                padding: 0 1px;
                font-weight: 500;
            }
            input{
                display: block;
                width: 100%;
                height: 45px;
                border: 1px solid #ccc;
                padding: 0 5px;
                border-radius: 4px;
                outline: none;
                font-size: 14px;

                &:focus{
                    box-shadow: 0 0 2px 2px $primary-bg-color;
                    transition: all 300ms ease-out;
                }
            }
            select{
                display: block;
                width: 100%;
                height: 45px;
                border-radius: 4px;
                border: 1px solid #ccc;

                &:focus{
                    box-shadow: 0 0 2px 2px $primary-bg-color;
                    transition: all 300ms ease-out;
                }
            }
            small{
                font-size: 12px;
                color: lighten($color: $dark-text-color, $amount: 20);

                @media(max-width:414px){
                    font-size: 12px;
                }
            }
        }

        button{
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 70px;
            padding: 14px 75px;
            color: $light-text-color;
            background-color: $primary-bg-color;
            border-radius: 4px;
            outline: thin;
            border: none;
            font-size: 1.05rem;

            @media (max-width:414px){
                padding: 15px 50px;
            }
        }
    }
    
}