.gallery-section {
  display: block;
  width: 80%;
  margin: 5% auto 5%;
  overflow:hidden;

  @media (min-width:500px) and (max-width:990px){
    width: 90%;
}

  @media (max-width: 500px) {
    width: 90%;
    // border: 1px solid red;
  }

  .search-box{
    position: relative;
    display: block;
    width: 40%;
    margin: 30px auto 40px;

    @media(min-width:500px) and (max-width:990px){
      width: 75%;
      margin: 50px auto 30px;
    }
    @media(max-width:500px){
      width: 100%;
      margin: 50px auto 30px;
    }

    label{
      display: block;
      font-size: 18px;
      padding: 0 0 0 10px;
      font-weight: 500;
    }

    input{
        width: 100%;
        display: block;
        height: 55px;
        border-radius: 50px;
        position: relative;
        border: 1px solid #ccc;
        padding-left: 15px;
        padding-right: 138px;
        font-size: 14px;
        color: $dark-text-color;

        @media(min-width:500px) and (max-width:990px){
          font-size: 14px;
        padding-right: 138px;

        }
        @media(max-width:500px){
          font-size: 13px;
          padding-right: 100px;

        }

        &:focus{
            border: 1px solid $primary-bg-color;
            transition: all 300ms ease-out;
        }
    }

    button{
        display: inline-block;
        padding: 11px 35px;
        border-radius: 50px;
        outline: none;
        background-color: $primary-bg-color;
        color: white;
        border: none;
        position: absolute;
        top:33px;
        right: 6px;

        @media(min-width:500px) and (max-width:990px){
          padding: 11px 25px;
        top:34px;

        }
        @media(max-width:500px){
          padding: 11px 25px;
        top:34px;

        }
    }
}

  .main-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    flex-wrap: wrap;
    margin-top: 30px;



    @media (max-width: 500px) {
      display: block;
      padding: 10px 0;
    }

    .gallery-thumbnail {
      display: block;
      width: 30%;
      height: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 15px 0;

      @media (min-width:500px) and (max-width:990px){
        width: 48%;
    }

      @media (max-width: 500px) {
        width: 100%;
        margin-bottom: 25px;
      }

      img {
        width: 100%;
        height: 200px;
        border-radius: 4px 4px 0 0;
      }
      .meta-tag {
        display: block;
        padding: 10px 5px;

        ul {
          list-style: none;
          text-align: left;

          li {
            padding: 5px;
            color: $dark-text-color;
            font-weight: 500;

            @media (max-width: 500px) {
              font-size: 14px;
            }

            i {
              color: $primary-bg-color;
              padding-right: 5px;
            }
          }
        }
      }
    }
  }

  .pagination {
    width: fit-content;
    display: block;
    margin: 40px auto 10px;
    // border: 1px solid red;
    background-color: #fff;
    box-shadow: 3px 3px 13px rgba(204, 204, 204, 0.657);
    padding: 10px 15px;
    border-radius: 4px;

    @media (max-width: 500px) {
      width: fit-content;
      padding: 10px 0;
      margin: 30px auto 30px;
    }

    ul {
      display: inline-block;
      list-style: none;
      text-align: center;

      li {
        display: inline-block;
        padding: 0 7px;

        .pagination-control {
          color: $dark-text-color;
          padding: 3px 10px;

          &:hover {
            color: $dark-text-color;
            background-color: #ccc;
            // padding: 3px 10px;
            border-radius: 4px;
          }
        }

        .pagination-num {
          color: $dark-text-color;
          padding: 3px 10px;

          &:hover {
            color: $dark-text-color;
            background-color: #ccc;
            border-radius: 4px;
          }

          &:active {
            color: #fff;
            background-color: $primary-bg-color;
            padding: 3px 10px;
            border-radius: 4px;
          }

          &.active {
            color: #fff;
            background-color: $primary-bg-color;
            padding: 3px 10px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
