// COLOR VARIABLES
$bg-color: #fff;
$dark-bg-color: #333335;
$primary-bg-color: #cf4a46;
$secondary-bg-color: #29333a;
$light-text-color: #fff;
$dark-text-color: #333;



//FONT VARIABLES
$font: "poppins", sans-serif;