{% extends 'admin/base.html' %}
{% block content%}
    <!-- THE BOOK UPLOAD FORM -->
    <div class="book">
        <h2>Upload a book</h2>
        <form action="" id="form">
            <div class="input-box">
                <input type="text" name="author" required />
                <span>Title</span>
            </div>
            <div class="input-box">
                <input type="text" name="title" required />
                <span>Author</span>
            </div>
            <div class="input-box">
                <label for="book">Book here</label>
                <input type="file" name="book" required />
            </div>
            <button type="submit">Upload book</button>
        </form>

        <!-- THE LIST OF ALL THE BOOKS-->
        <div class="all-data">
            <table id="data">
                <tr>
                    <th>S/N</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Book file</th>
                    <th>Controls</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Rich dad poor dad</td>
                    <td>Robert Kiyosaki</td>
                    <td><a href="#" id="file">Rich-dad-poor-dad.pdf</a></td>
                    <td>
                        <a href="#" class="edit">Edit</a>
                        <a href="#" class="del">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}