{% extends 'admin/base.html' %}
{% block content%}
    <!-- THE GALLERY FORM -->
    <div class="gallery">
        <h2>Upload picture</h2>
        <form action="" method="POST" enctype="multipart/form-data" class="form">
            <div class="input-box">
                <label for="image file">Image file here</label>
                <input type="file" name="image" multiple required>
            </div>
            <div class="input-box">
                <label for="">Tag</label>
                <select name="tag" required>
                    <option value="Sunday service">Sunday service</option>
                    <option value="Thanksgiving service">Thanksgiving service</option>
                    <option value="Thanksgiving service">FYB Sunday</option>
                    <option value="Thanksgiving service">Freshers week </option>
                </select>
            </div>
            <div class="input-box">
                <label for="image file">Date</label>
                <input type="date" name="date">
            </div>
            <button type="submit">Upload picture</button>
        </form>

        <!-- THE LIST OF ALL THE BOOKS-->
        <div class="all-data">
            <table id="data">
                <tr>
                    <th>S/N</th>
                    <th>Image</th>
                    <th>Tag</th>
                    <th>Date</th>
                    <th>Control</th>
                </tr>
                {% if galleries %}
                {% for gallery in galleries %}
                <tr>
                    <td>{{gallery.id}}</td>
                    <td> <a href="{{url_for('static', filename='church_img/'+gallery.image)}}">View Image</a> </td>
                    <td>{{gallery.tag}}</td>
                    <td>{{gallery.date.strftime('%d-%m-%Y')}}</td>
                    <td>
                        <a href="#" class="edit">Edit</a>
                        <a href="#" class="del">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <h1>No Gallery Uploaded Yet.</h1>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}