{% extends 'admin/base.html' %}

{% block content %}
    <div class="wrapper">
        <div class="recent-pictures">
            <h2>Recent Pictures</h2>
            <div class="recent-container">
                <div class="recent-content">
                    <div class="recent-content-img">
                        <img src="{{url_for('static', filename='img/person.png')}}" alt="">
                    </div>
                    <div class="recent-content-text">
                        <p>Tag: <span>Sunday service</span></p>
                        <p>Date: <span>20th,june 2020</span></p>
                    </div>
                </div>
                <div class="recent-content">
                    <div class="recent-content-img">
                        <img src="{{url_for('static', filename='img/person.png')}}" alt="">
                    </div>
                    <div class="recent-content-text">
                        <p>Tag: <span>Sunday service</span></p>
                        <p>Date: <span>20th,june 2020</span></p>
                    </div>
                </div>
                <div class="recent-content">
                    <div class="recent-content-img">
                        <img src="{{url_for('static', filename='img/person.png')}}" alt="">
                    </div>
                    <div class="recent-content-text">
                        <p>Tag: <span>Sunday service</span></p>
                        <p>Date: <span>20th,june 2020</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="recent-pictures" id="message">
            <h2>Recent Messages</h2>
            <div class="recent-container">
                <div class="recent-content">
                    <div class="recent-content-img">
                        <img src="{{url_for('static', filename='img/person.png')}}" alt="">
                    </div>
                    <div class="recent-content-text">
                        <p>Author: <span>Bro Sunday</span></p>
                        <p>Title: <span>Anointing upon</span></p>
                        <p>Date: <span>20-03-2020</span></p>
                        <p>Title: <span>Anointing upon</span></p>
                    </div>
                </div>
                <div class="recent-content">
                    <div class="recent-content-img">
                        <img src="{{url_for('static', filename='img/person.png')}}" alt="">
                    </div>
                    <div class="recent-content-text">
                        <p>Author: <span>Bro Sunday</span></p>
                        <p>Title: <span>Anointing upon</span></p>
                        <p>Date: <span>20-03-2020</span></p>
                        <p>Title: <span>Anointing upon</span></p>
                    </div>
                </div>
                <div class="recent-content">
                    <div class="recent-content-img">
                        <img src="{{url_for('static', filename='img/person.png')}}" alt="">
                    </div>
                    <div class="recent-content-text">
                        <p>Author: <span>Bro Sunday</span></p>
                        <p>Title: <span>Anointing upon</span></p>
                        <p>Date: <span>20-03-2020</span></p>
                        <p>Title: <span>Anointing upon</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
